<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<head>
<style>
table {
  background-color: #2c3e50;
  border-collapse: collapse;
  width: 100%;
  font-family: "Century Gothic";
}
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: white;
}
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #f6b72a;
  color: #2c3e50;
}
tr:nth-child(even) {
  background-color: #415b76;
}
.history{
  background-color: #3a5269;
}
</style>
<meta charset="UTF-8">
<title>Uporabniki</title>
</head>
<body class="history text-center">
  <table class="table">
    <thead>
        <tr>
            <th scope="col"> Id uporabnika </th>
            <th scope="col"> Uporabniško ime </th>
            <th scope="col"> Status</th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${allUsers.empty}">
            <td colspan="2"> Ni najdenih uporabnikov </td>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td><a th:text="${user.id}" th:href="|/admin/allUsers/${user.username}|"> Id uporabnika </a></td>
            <td><span th:text="${user.username}"> Uporabniško ime </span></td>
            <td><div th:switch="${user.enabled}">
            <p th:case="0">Neaktiven </p>
            <p th:case="1">Aktiven</p>
            </div></td>
        </tr>
    </tbody>
  </table>
</body>
</html>