
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Naročilo</title>
    <style type="text/css">
	    .nic{
	        margin-right: 10px;
	    }
		.new-order{
			font-family: "Century Gothic";
			color: #f6b72a;
			font-weight: 600;
		}
		.obarvan-gumb{
			background-color:#f6b72a;
			color: #3a5269;
			text-transform: uppercase;
			font-weight: 600;
		}
		.obarvan-gumb:hover{
			-webkit-box-shadow: 1px 1px 3px 2px white;
			-moz-box-shadow: 1px 1px 3px 2px white;
			box-shadow: 1px 1px 3px 2px white;
		}
		.custom-select{
			width: fit-content;
		}
		h2{
			color: #f6b72a;
			font-weight: 600;
		}
    </style>
</head>
	<template class="new-order">
		<h2>
			Naročilo tekočin:
		</h2>
		<form method="POST" id="form" th:object="${order}" class="form-group">
		   <br>
			1. &nbsp; <select id="aroma1" name="aroma" size="1" class="custom-select">
				<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
			</select>
			<select id="nic1" name="nic" size=1 class="custom-select">
				<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
			</select>
			<br>
			2. &nbsp; <select id="aroma2" name="aroma" size="1" class="custom-select">
				<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
			</select>
			<select id="nic2" name="nic" size=1 class="custom-select">
				<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
			</select>
			<br>
			3. &nbsp; <select id="aroma3" name="aroma" size="1" class="custom-select">
				<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
			</select>
			<select id="nic3" name="nic" size=1 class="custom-select">
				<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
			</select>
			<br>
			<div class="dd1" style="display:none;">
				4. &nbsp; <select disabled class="dd1 custom-select" name="aroma" id="aroma4" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd1 custom-select" name="nic" id="nic4" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd2" style="display:none;">
				5. &nbsp; <select disabled class="dd2 custom-select" name="aroma" id="aroma5" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd2 custom-select" name="nic" id="nic5" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd3"  style="display:none;">
				6. &nbsp; <select disabled class="dd3 custom-select" name="aroma" id="aroma6" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd3 custom-select" name="nic" id="nic6" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd4" style="display:none;">
				7. &nbsp; <select disabled class="dd4 custom-select" name="aroma" id="aroma7" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd4 custom-select" name="nic" id="nic7" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd5"  style="display:none;">
				8. &nbsp; <select disabled class="dd5 custom-select" name="aroma" id="aroma8" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd5 custom-select" name="nic" id="nic8" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd6"  style="display:none;">
				9. &nbsp; <select disabled class="dd6 custom-select" name="aroma" id="aroma9" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd6 custom-select" name="nic" id="nic9" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd7"  style="display:none;">
				10. <select disabled class="dd7 custom-select" name="aroma" id="aroma10" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd7 custom-select" name="nic" id="nic10" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd8"  style="display:none;">
				11. <select disabled class="dd8 custom-select" name="aroma" id="aroma11" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd8 custom-select" name="nic" id="nic11" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd9"  style="display:none;">
				12. <select disabled class="dd9 custom-select" name="aroma" id="aroma12" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd9 custom-select" name="nic" id="nic12" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd10"  style="display:none;">
				13. <select disabled class="dd10 custom-select" name="aroma" id="aroma13" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd10 custom-select" name="nic" id="nic13" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd11"  style="display:none;">
				14. <select disabled class="dd11 custom-select" name="aroma" id="aroma14" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd11 custom-select" name="nic" id="nic14" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd12"  style="display:none;">
				15. <select disabled class="dd12 custom-select" name="aroma" id="aroma15" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd12 custom-select" name="nic" id="nic15" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd13"  style="display:none;">
				16. <select disabled class="dd13 custom-select" name="aroma" id="aroma16" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd13 custom-select" name="nic" id="nic16" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd14"  style="display:none;">
				17. <select disabled class="dd14 custom-select" name="aroma" id="aroma17" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd14 custom-select" name="nic" id="nic17" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd15"  style="display:none;">
				18. <select disabled class="dd15 custom-select" name="aroma" id="aroma18" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd15 custom-select" name="nic" id="nic18" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd16"  style="display:none;">
				19. <select disabled class="dd16 custom-select" name="aroma" id="aroma19" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd16 custom-select" name="nic" id="nic19" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<div class="dd17"  style="display:none;">
				20. <select disabled class="dd17 custom-select" name="aroma" id="aroma20" size="1">
					<option th:each="aroma : ${dd_aroma}" th:value="${aroma}" th:utext="${aroma}"/>
				</select>
				<select disabled class="dd17 custom-select" name="nic" id="nic20" size=1>
					<option th:each="nic : ${dd_nic}" th:value="${nic}" th:utext="${nic}"/>
				</select>
				<br>
			</div>
			<br>
			<p id="myBtn" class="btn obarvan-gumb">Dodaj tekočino</p>
			<p id="myBtn-remove" class="btn obarvan-gumb" style="display:none;">Odstrani tekočino</p>
			<br><br>
			<p id="submit" class="btn obarvan-gumb"> Oddaj </p>
		</form>
	</template>
    <script type="text/javascript" src="order.js"></script>
    <script type="text/javascript" src="ShowNextDD.js"></script>
</html>